/* Footer.css */

/* Common styles for all screen sizes */
.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
}

.info-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.links {
  display: flex;
  gap: 150px;
}

.links a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.links a img {
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

/* Media queries for specific screen sizes */
@media (max-width: 768px) {
  .links {
    gap: 40px;
  }
}

@media (max-width: 390px) {
  .footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 40px;
  }

  .links {
    display: flex;
    gap: 20px; /* Adjusted gap for smaller screens */
  }

  p {
    font-size: 8px;
  }

  .links a img {
    max-width: 80%; /* Adjusted image width for smaller screens */
    max-height: 80%; /* Adjusted image height for smaller screens */
  }
}
