/* Home.css */

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  position: relative;
  width: 80%; /* Adjust the width to your preference */
  max-width: 600px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add padding as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50%;
}

.image-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: rotation-mobile 10s infinite linear; 
}

.artist-logo {
  margin-top: 10%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-items: center;
  align-items: center;
  transform-origin: center;
  /* animation: rotation 10s infinite linear; */
}

.album-image {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-logo-mobile {
  display: block;
  width: 80%; /* Adjust the width as needed */
  margin-top: 30%; 
  height: auto; /* Allow height to adjust accordingly */
  transform-origin: center;
}


/* For smaller screens, adjust dimensions and object-fit */
@media (max-width: 768px) {
  .artist-logo-mobile {
    width: 90%; /* Adjust width for smaller screens */
    height: auto; /* Allow height to adjust accordingly */
    margin-top: 30%; /* Adjust margin-top for positioning */
  }
}


@keyframes rotation-mobile {
  from {
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotateY(360deg);
  }
}
