/* NavbarStyles.css */

/* Common styles for all screen sizes */
.nav {
  display: flex;
  flex: 1;
  height: min-content;
  width: auto;
  align-items: center;
  padding: 1rem;
}

.nav-link.active {
  color: #4d4dff;
}

.nav-menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-icon {
  align-self: center;
  margin: 0 20%;
  color: white;
}

.artist-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-logo-nav {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: auto;
}

.nav-label {
  display: block;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  color: white;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: center;
}

.bars {
  display: none;
  color: #808080;
}

@media (max-width: 768px) {
  .nav-link {
    padding: 0.5rem;
    justify-content: space-evenly;
  }

  .nav-menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-label {
    display: none;
  }

  .bars {
    display: block;
    color: #808080;
  }
}
