/* Footer.css */

.footer {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  
  height: 40px;
}

.info-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 2px solid black; */
}

.links {
  display: flex;
  gap: 20px;
  /* border: 2px solid black; */
}

.links a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 40px;
  /* background-color: #555; */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.links a img {
  max-width: 100%;
  max-height: 100%;
}


.text {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

@media (max-width: 390px) {
  /* Styling for the NavMenu component */
  .footer {
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    
    height: 40px;
  }
  
  .info-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 2px solid black; */
  }
  
  .links {
    display: flex;
    gap: 50px;
    /* border: 2px solid black; */
  }

}