/* NavbarStyles.css */

/* Styling for the Nav component */
.nav {
    flex: 1;
    align-self: flex-start;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
    width: auto;
    /* border: 1px solid black; */
}

/* Styling for the NavMenu component */
.nav-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;;
  justify-self: center;
  /* border: 1px solid black; */

}

.nav-link.active {
  color: #4d4dff;
}

/* Styling for the NavLink component */
.nav-link {
  color: #ffffff;
  display: flex;
  justify-self: space;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid black; */
}

.nav-icon {
  /* border: 1px solid black; */
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

.artist-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.artist-logo {
  display: block;
  width: 100%;
  max-width: 200px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
  /* border: 1px solid black; */
}


.nav-label {
  /* border: 1px solid black; */
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the NavItem component */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: center;
  /* border: 1px solid black; */
}


/* Styling for the Bars (FaBars) component */
.bars {
  display: none;
  color: #808080;
}

@media screen and (max-width: 768px) {
  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}


@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
